.profile-bar {
    display: flex;
    flex-direction: row;
}

.profile-info {
    display: flex;
    justify-content: space-between;
}

.profile-name {
    font-weight: bold;
}

.handle {
    margin-left: 7px;
}

.dot {
    margin: 0 7px;
}

.handle, .dot, .timestamp {
    color: rgb(147,161,173);
}

.verified img {
    width: 17px;
    transform: translateY(3px);
    margin-left: 7px;
}